<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>About</title>
    <link rel="icon" href="/image/weather.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Ankit Dwivedi.it uses data from mapbox.com and darksky.net!</p>
        <img class = 'potrait' src="https://hindutrend.com/wp-content/uploads/2020/01/shiv-ji-hd-wallpapers-download.jpg" alt="lord shiva">
    </div>
    {{>footer}}
</body>
</html>